extends layout

block content
  h1= title
  p Welcome to
      span.received-message #{title}
  input(type='text', class='message', placeholder='what is on your mind?', onkeyup='send(this)')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socket.js')